*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    main{
        height: 100vh;
        width: 100vw;
        background: url("cover.jpg");
        background-size: cover;
        background-position: center;
    }
    overflow: hidden;
    #canvas{
        position: absolute;
        background: linear-gradient(50deg, rgba(63, 48, 88, 0.836),rgba(226, 133, 97, 0.411));
        background-size: cover;
        background-position: center;
        z-index: 1;
    }
}
.follow-me{
    color: white;
    font-size: 1.5rem;
    font-family: Now;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    top: 75%;
    left: 50%;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}
